  li a 
  {
    color: azure;
    font-family: cursive;
    backdrop-filter: blur(10px);
    text-decoration: none;
    border-style: solid;
    border-color: gray;
    border-radius: 6px;
    padding:3px;
    
  }
  li
  {
    border: 1px;
  }
  ul
  {
    list-style-type: none;
    padding-inline-start: 0px;
    font-size: 24px;
  }
  body
  {
    background-image: url("e.jpg");
    background-size: cover;
  }
  fieldset
  {
    color:azure;
    top: 50%;
    transform: translate(-0%, -50%);
    text-align: center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-color: gray;
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 8px;
    font-family: cursive;
    font-size: 14px;
    backdrop-filter: blur(10px);
   }
   .salutation
   {
    position: absolute;
   
    top:20px;
    font-family: cursive;
    font-size: 22px;
    color:azure;
    margin-right: 18px;
   }
   .logout
   {
   top:20px;
   position: absolute;
   right: 20px;
 margin-right: 2px;
   font-family: cursive;
   width:90px;
   border-radius: 6px;
   backdrop-filter: blur(10px);
   font-size: 16px;
   background: transparent;
   padding: 3px;
   border-style: solid;
   border-color: gray;
   color:azure;
}