body{
   

height: 632px;
}
h1{
    margin-block-start:3px;
    margin-block-end: 3px;
}

fieldset
{
    border-style: solid;
    border-color: gray;
  
    text-align: center;
    border-radius: 8px;
   padding-bottom: 0px;;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    backdrop-filter: blur(10px);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}
.data{
    font-size: 24px;
}
.home{
    position: relative;
    top:11px;
  right: -90%;
    font-family: 'Times New Roman', Times, serif;
 
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    margin-right:10px;
    border-style: solid;
   border-color: gray;
   color:azure;
}
.home1
{
    position: relative;
    top:11px;
    right: -90%;
    font-family: 'Times New Roman', Times, serif;
 
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    margin-right:10px;
    border-style: solid;
   border-color: gray;
   color:black;

}


.update{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    border-style: solid;
    border-color: gray;
    color:black;
    
}
.tb{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    padding: 5px;
   
   overflow: visible;
    height: 30px;
    border: solid 0.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: rgb(214, 213, 213);
    text-align: center;
    border-color: gray;
    border-style: solid;
    font-size: 16px;
}
