body{
    background-image: url("e.jpg");
    background-size: cover;
}
fieldset
{
    border-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
   width:200px;
    font-family:'Times New Roman', Times, serif;
    backdrop-filter: blur(10px);
  
}

.fda{
    width: 600px;
}
h1{color: azure;
    font-size: 25px;
}
.alert
{
    position: relative;
    text-align: center;
    top: 43%;
    color: azure;
    
}
.tb{
    outline:0;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    padding: 10px;
    width: 240px;
    height: 30px;
    border: solid 0.5px;
    margin-top: 13px;
    margin-bottom: 10px;
    border-color: rgb(214, 213, 213);
    text-align: center;
    border-color: gray;
    border-style: solid;
    font-size: 20px;
}

.sub{
font-family: 'Times New Roman', Times, serif;
border-radius: 6px;
border-color: gray;
border-style: solid;
background: transparent;
backdrop-filter: blur(10px);
font-size: 20px;
width:fit-content;
font-weight: 100;
padding: 3px;
border-style: solid;
 border-color: gray;
 color:azure;

}
.data{
    font-size: 24px;
}
.home1{
    position: relative;
    top:11px;
  right: -77.5%;
    font-family: 'Times New Roman', Times, serif;
 
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    margin-right:10px;
    border-style: solid;
   border-color: gray;
   color:azure;
}

.fd
{
    border-style: solid;
    border-color: gray;
    height: inherit;
    text-align: center;
    border-radius: 8px;
   
    font-family: 'Times New Roman', Times, serif;
    color:black;
    backdrop-filter: blur(10px);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form{
    color: azure;
    font-size: 24px;
}
img{
    width:15px;
    height: 13px;
    cursor: pointer;
color: black;
padding-right: 4px;
}
.inputbox{
    padding: 10px 0px;
    width: 100%;
    align-items: center;
display: flex;
background-color: white;
border-radius: 6px;
    height: 12px;
}

.tbp{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    padding: 10px 20px;
    width: 220px;
    height: 30px;
    border: solid 0px;
    margin-top: 13px;
    margin-bottom: 10px;
    border-color: rgb(214, 213, 213);
  text-align: center;
    border-color: gray;
    border-style: solid;
    font-size: 20px;
    outline:0;
   
   
}
