.forma{
    font-size: 24px;;
}
fieldset
{
    border-style: solid;
    border-color: gray;
    height: inherit;
    text-align: center;
    border-radius: 8px;
   
    font-family: 'Times New Roman', Times, serif;
    color:black;
    backdrop-filter: blur(10px);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: 10%;
   left:12%
    
}
.data{
    font-size: 24px;
}
.home{
    position: relative;
    top:11px;
  right: -79%;
    font-family: 'Times New Roman', Times, serif;
 
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    margin-right:10px;
    border-style: solid;
   border-color: gray;
   color:black;
}
.alert
{
    position: relative;
    text-align: center;
    top: 43%;
    color: black;
    
}

.home2{
    top:11px;
right: -71%;

position: relative;
   
    font-family: 'Times New Roman', Times, serif;
 
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    margin-right:10px;
    border-style: solid;
   border-color: gray;
   color:black;

}
.sub{
    margin-top: 10px;
 
    position: relative;
font-family: 'Times New Roman', Times, serif;
border-radius: 6px;
border-color: gray;
border-style: solid;
background: transparent;
backdrop-filter: blur(10px);
font-size: 16px;
width:90px;
font-weight: 100;
padding: 3px;
border-style: solid;
 border-color: gray;
 color:black;

}
.home1
{
    position: relative;
    top:11px;
right: -77.5%;
    font-family: 'Times New Roman', Times, serif;
 
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    margin-right:10px;
    border-style: solid;
   border-color: gray;
   color:black;

}


.update{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    width:fit-content;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    font-size: 16px;
    background: transparent;
    padding: 3px;
    border-style: solid;
    border-color: gray;
    color:black;
    
}
.tb{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    padding: 10px;
   width: 125px;
   overflow: visible;
    height: 30px;
    border: solid 0.5px;
    margin-top: 13px;
    margin-bottom: 10px;
    border-color: rgb(214, 213, 213);
    text-align: center;
    border-color: gray;
    border-style: solid;
    font-size: 16px;
}